@import 'blog';
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.center {
  padding-left: calc(50% - 100% / 2);
  padding-right: calc(50% - 100% / 2);
}
a{
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
  }
  &__item1 {
    gap: 3px;
    padding-left: 300px;
  }
  &__item2 {
    gap: 30px;
    padding-right: 300px;
  }
}
.top {
  &_top {
    display: flex;
    justify-content: center;
  }
  display: flex;
  border-radius: 7% 0% 0% 7%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  width: 1201px;
  height: 758px;
  align-items: start;
  padding-left: 100px;
  &__button {
    background-color: #292f36;
    display: flex;
    gap: 5px;
    width: 220px;
    height: 75px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    &_text {
      font-family: Jost;
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
    }
  }
  &__title {
    font-family: DM Serif Display;
    font-size: 65px;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__text {
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  background-image: url(./img/top_background.png);
  background-size: cover;
}
.projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__heading {
    padding-top: 50px;
    &_title {
      font-family: DM Serif Display;
      font-size: 50px;
      font-weight: 400;
      line-height: 63px;
      letter-spacing: 0.02em;
      text-align: center;
    }
    &_text {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
  &__catalog {
    width: 1201px;
    display: flex;
    flex-wrap: wrap;
    &_box {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
    }
  }
  &__item {
    width: 525px;
    height: 548px;
  }
}
.middle {
  background-color: #f4f0ec;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 457px;
  margin-top: 50px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #cda274;
    border-right: 1px solid #cda274;
    width: 246px;
    height: 155px;
    align-items: center;

    &_title {
      font-family: DM Serif Display;
      font-size: 85px;
      font-weight: 400;
      line-height: 106px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #cda274;
    }
    &_text {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
}
.down {
  margin-top: 50px;
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_title {
      font-family: DM Serif Display;
      font-size: 50px;
      font-weight: 400;
      line-height: 63px;
      letter-spacing: 0.02em;
      text-align: center;
    }
    &_text {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: center;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  &__item {
    width: 382px;
    height: 521px;
    &_img {
      border-radius: 10% 10% 0% 0%;
    }
    &_title {
      font-family: DM Serif Display;
      font-size: 25px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 0.02em;
      text-align: left;
    }
    &_text {
      font-family: Jost;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  &__item {
    width: 393px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_logo {
      display: flex;
      gap: 5px;
    }
    &_social {
      display: flex;
      gap: 30px;
    }
    &_text {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
  &__item2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_link {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 66px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
  &__item3 {
    &_title {
      font-family: DM Serif Display;
      font-size: 25px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: left;
    }
    &_text {
      font-family: Jost;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
}
